@model House_PM.Models.RegisterViewModel

<section class="mt-3">
    @{
        ViewBag.Title = "Register";
    }
</section>


<h2>@ViewBag.Title.</h2>

@if (Request["role"] == null)
{
    <form method="get">
        <div id="options" class="row p-3">

            @if (User.IsInRole("admin"))
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img height="326" class="card-img-top" src="https://image.freepik.com/free-photo/doctor-smiling-with-stethoscope_1154-36.jpg" alt="Card image cap">
                            <h5 class="card-title">Doctor</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="submit" class="btn btn-primary button-show-form" name="role" value="doctor">Go somewhere</button>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-6">
                <div class="card">
                    <img height="326" class="card-img-top" src="http://careersbusiness.co.uk/wp-content/uploads/2015/03/4597006_orig1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Assistant</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="submit" class="btn btn-primary button-show-form" name="role" value="assistant">Go somewhere</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
}


@if (Request["role"] != null)
{
    string role = Request["role"];
    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
        </div>

        if (User.IsInRole("doctor"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Speciality, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Speciality, new { @class = "form-control" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" name="role" value="@role ">Registrar</button>
            </div>
        </div>
    }
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
